[submodule "Engine/vendor/spdlog"]
	path = Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ClemEngine/vendor/GLFW"]
	path = ClemEngine/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
