[submodule "Engine/vendor/spdlog"]
	path = Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ClemEngine/vendor/GLFW"]
	path = ClemEngine/vendor/GLFW
	url = https://github.com/clemb01/GLFW
[submodule "ClemEngine/vendor/glm"]
	path = ClemEngine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "ClemEngine/vendor/imgui"]
	path = ClemEngine/vendor/imgui
	url = https://github.com/clemb01/imgui
